<h1>All Paintings</h1>

<div class="row">
  <% @all_paintings.each do |painting| %>
    <div class="col-md-4">
      <div class="well">
          <a href="/paintings/<%= painting.id %>">
            <h2><%= painting.name %></h2></a>
          <h6>Artist: <%= painting.supplier.name %></h6>
          <a href="/paintings/<%= painting.id %>">
            <img src="<%= painting.images.first.image %>" class="img img-rounded img-responsive full-width index-thumb"></a>
            <p><%= number_to_currency(painting.price) %></p>
            <ul>
              <% painting.description_list.each do |description| %>
                <li><%= description %></li>
              <% end %>
            </ul>
      </div>
    </div>      
  
  <% end %>
</div>