<h1>All Paintings</h1>

<% @all_paintings.each do |painting| %>
  <h2><a href="/paintings/<%= painting.id %>"><%= painting.name %></a></h2>
  <div><img src="<%= painting.image %>"></div>
  <p><%= painting.price %></p>
  <p><%= painting.description %></p>
  
<%= link_to "Create a new listing", "/paintings/new" %>  
<% end %>
