<h2><%= @painting.name %></h2>
<div class="row">
  <% @painting.images.each do |image| %>
    <div class="col-md-4">
      <img src="<%= image.image %>" class="img img-rounded img-responsive full-width index-thumb">
    </div>
  <% end %>
</div>






<p><%= @painting.stock %></p>
<p>$<%= @painting.price %></p>
<p>Tax: $<%= @painting.tax %></p>
<p>Total Price: $<%= @painting.total_price %></p>
<p><%= @painting.description %></p>
<p><%= @painting.sale_message %></p>
<p>Artist: <%= @painting.supplier.name %></p>
<p><%= link_to "Edit this listing", "/paintings/#{@painting.id}/edit" %></p>
<p><%= link_to "Delete this listing", "/paintings/#{@painting.id}", method: :delete %></p>
<p><a href="/paintings">Back to all paintings</p>