<h2><%= @painting.name %></h2>
<h4><%= @painting.sale_message %></h4>
<div class="col-md-5">
  <% @painting.images.each do |image| %>
      <img src="<%= image.image %>" class="img img-rounded img-responsive full-width index-thumb">
  <% end %>
</div>

<div class="col-md-7">

  <%= form_tag '/orders', method: :post do %>
    <div class="form-group">
      <%= label_tag :quantity %>
      <%= text_field_tag :quantity, nil, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= hidden_field_tag :painting_id, @painting.id, class: "form-control" %>
    </div>
    <div>
      <%= button_tag "Buy Now!", class: "btn btn_default" %>
    </div>
  <% end %>
  <br>
  <table class="table table-striped">
    <tr>
      <td>Artist:</td>
      <td><%= @painting.supplier.name %></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>
        <ul>
            <% @painting.description_list.each do |description| %>
              <li><%= description %></li>
            <% end %>
        </ul>
    </tr>
    <tr>
      <td>Availibility</td>
      <td><%= @painting.stock %></td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><%= number_to_currency(@painting.price) %></td>
    </tr>
    <tr>
      <td>Tax:</td>
      <td><%= number_to_currency(@painting.tax) %></td>
    </tr>
    <tr>
      <td>Total price:</td>
      <td><%= number_to_currency(@painting.total_price) %></td>
    </tr>
  </table>

  <table style="border: none; float: right;">
    <tr>
      <td><%= button_to "Edit", "/paintings/#{@painting.id}/edit", class: "btn btn_default", method: :get %></td>
      <td><%= button_to "Delete", "/paintings/#{@painting.id}", class: "btn btn_default", method: :delete %></td>
      <td><%= button_to "All Paintings", "/paintings", class: "btn btn_default", method: :get %></td>
    </tr>
  </table>

</div>