<% @carted_products.each do |carted_product| %>
  <img src="<%= carted_product.painting.images.first.image %>" class="img img-rounded img-responsive full-width index-thumb">
<% end %>


<%= form_tag '/orders', method: :post do %>
  <div class="form-group">
    <%= label_tag :subtotal %>
    <%= text_field_tag :subtotal, number_to_currency(@subtotal), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :tax %>
    <%= text_field_tag :tax, number_to_currency(@tax), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :total %>
    <%= text_field_tag :total, number_to_currency(@total), class: "form-control" %>
  </div>
<% end %>


<div>
  <%= button_to "Buy Now!", "/orders", class: "btn btn_default", method: :post %>
</div>