<% @carted_products.each do |carted_product| %>
  <img src="<%= carted_product.painting.images.first.image %>" class="img img-rounded img-responsive full-width index-thumb">
<% end %>


<%= form_tag '/orders', method: :post do %>
  <div class="form-group">
    <%= hidden_field_tag :subtotal, @subtotal, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= hidden_field_tag :tax, @tax, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= hidden_field_tag :total, @total, class: "form-control" %>
  </div>
  <div>
    <%= button_tag "Buy Now!", class: "btn btn_default"%>
  </div>
<% end %>


